.col {
	float: left;
	width: 30%;
	position: relative;
	margin-right: 3%;
}

.col-preview {
	color: #999;
}

.highlights {
	position: absolute;
	opacity: 0.5;
}

.highlight {
	position: absolute;
	background: red;
	box-shadow: inset 0 0 0 1px #600;
}

.bounding {
	position: absolute;
	border: 1px solid #300;
	padding: 2px;
	margin: -3px 0 0 -3px;
	border-radius: 3px;
}
