.col {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 33%;
	position: relative;
	padding-right: 0.5em;
}

.ce-mirror {
	opacity: 0.5;
}

.ce:focus {
	outline: 0;
}

.highlights {
	position: absolute;
}

.highlight {
	position: absolute;
}

.highlight > span {
	display: none;
}

.highlight:hover > span {
	display: inline;
	background: #fff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 0.75em;
	position: absolute;
	top: 1px;
	left: 1px;
}

.bounding {
	position: absolute;
	border: 1px solid;
	padding: 2px;
	margin: -3px 0 0 -3px;
	border-radius: 3px;
	pointer-events: none;
}

.highlights-native .highlight {
	background: rgba( 255, 0, 0, 0.3 );
	box-shadow: inset 0 0 0 1px #600;
}

.highlights-native .bounding {
	border-color: #300;
}

.highlights-fixed .highlight {
	background: rgba( 0, 170, 0, 0.3 );
	box-shadow: inset 0 0 0 1px #060;
}

.highlights-fixed .bounding {
	border-color: #030;
}

.features {
	margin: 20px auto;
	border-collapse: collapse;
}

.features caption {
	font-weight: bold;
}

.features td {
	border: 1px solid #bbb;
	padding: 5px 10px;
}

.features .working {
	background: #beb;
}

.features .broken {
	background: #ebb;
}

.features .isBroken-getClientRects {
	width: 6em;
}
